#                             Average of First n Numbers

In [2]:
n=int(input())
sum=0
for i in range(1,n+1):
    sum=sum+i
avg=sum/n
print(avg)

6
3.5

# Factorial of Entered Number

In [3]:
n=int(input())
pro=1
for i in range(1,n+1):
    pro=pro*i
print(int(pro))

5
120

# Prime/Composite

In [4]:
n=int(input())
temp=0
for i in range(1,n+1):
    if(n%i==0):
        temp=temp+1
if temp>2:
    print("composite")
else:
    print("prime")

10
composite

# Sum of series: 1+1/2+1/3+.......n

In [5]:
n=int(input())
sum=0
for i in range(1,n+1):
    sum=sum+(1/i)
print(sum)

3
1.8333333333333333

# Printing Pattern

In [6]:
l=[]
for i in range(1,7):
    i=str(i)
    l.append(i)
for j in range(0,len(l)-1):
    l[j+1]=l[j]+l[j+1]
    print(l[j])

1
12
123
1234
12345

## Tables: 1-10

In [7]:
for i in range(1,11):
    for j in range(1,11):
        print(i," X ",j," = ",i*j)
    print("\n")

1  X  1  =  1
1  X  2  =  2
1  X  3  =  3
1  X  4  =  4
1  X  5  =  5
1  X  6  =  6
1  X  7  =  7
1  X  8  =  8
1  X  9  =  9
1  X  10  =  10


2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20


3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
3  X  10  =  30


4  X  1  =  4
4  X  2  =  8
4  X  3  =  12
4  X  4  =  16
4  X  5  =  20
4  X  6  =  24
4  X  7  =  28
4  X  8  =  32
4  X  9  =  36
4  X  10  =  40


5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50


6  X  1  =  6
6  X  2  =  12
6  X  3  =  18
6  X  4  =  24
6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54
6  X  10  =  60


7  X  1  =  7
7  X  2  =  14
7  X  3  =  21
7  X  4  =  28
7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63
7  X  10  =  70


8  X  1  =  8
8  X  2  =  16
8  X  3  =  24
8  X  4  =  32
8  X  5  =  40
8  X  6  =  48
8  X  7  =  56
8  X  8  =  64
8  X  9  =  72
8  X  10  =  80


9  X  1  =  9
9  X  2  =  18
9  X  3  =  27
9  X  4  =  36
9  X  5  =  45
9  X  6  =  54
9  X  7  =  63
9  X  8  =  72
9  X  9  =  81
9  X  10  =  90


10  X  1  =  10
10  X  2  =  20
10  X  3  =  30
10  X  4  =  40
10  X  5  =  50
10  X  6  =  60
10  X  7  =  70
10  X  8  =  80
10  X  9  =  90
10  X  10  =  100

# Creating a list and a tuple

In [8]:
l={1,2,3,4,5}
li=list(l)
print(li)
tu=tuple(l)
print(tu)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

# List to List Addition

In [9]:
l1=(1,2,3)
l2=(1,2,3)
lnew1=list(l1)
lnew2=list(l2)
print(lnew1+lnew2)

[1, 2, 3, 1, 2, 3]

# List to Tuple Addition

In [10]:
l1=(1,2,3)
l2=(1,2,3)
lnew1=list(l1)
lnew2=tuple(l2)
print(lnew1+lnew2)

TypeError: ignored

# Tuple to Tuple Addition

In [11]:
l1=(1,2,3)
l2=(1,2,3)
lnew1=tuple(l1)
lnew2=tuple(l2)
print(lnew1+lnew2)

(1, 2, 3, 1, 2, 3)

# List to List Multiplication

In [12]:
l1=(1,2,3)
l2=(1,2,3)
lnew1=list(l1)
lnew2=list(l2)
print(lnew1*lnew2)

TypeError: ignored

# List to Tuple Multiplication

In [13]:
l1=(1,2,3)
l2=(1,2,3)
lnew1=list(l1)
lnew2=tuple(l2)
print(lnew1*lnew2)

TypeError: ignored

# Tuple to Tuple Multiplication

In [14]:
l1=(1,2,3)
l2=(1,2,3)
lnew1=tuple(l1)
lnew2=tuple(l2)
print(lnew1*lnew2)

TypeError: ignored

# Creating a Dictionary

In [15]:
a={'Class':10,'Section':'C'}
print(a)

{'Class': 10, 'Section': 'C'}

# Slicing

In [16]:
l=[1,2,3,4,5]
print(l[1:3])

[2, 3]